//
.container,
.info-container{

    margin: auto;
    margin-top: 100px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    padding: 40px;
    background-color: antiquewhite;
    
    
}